.home, 
.intro {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .title {
    text-align: center;
}

.home p {
    text-align: center;
}

.butt-to-stages {
    background-color: #699ce7;
    width: fit-content;
    padding: 10px;
    border: darkslategrey solid;
}