.score_div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_board {
    background-color: honeydew;
    color: darkslategrey;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.labels {
    border-top: blueviolet solid !important;
}

.current_board label {
    padding: 5px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.labels {
    background: rgba(181, 159, 201, 0.548);
}

.score, 
.labels {
    display: grid;
    grid-template-columns: 300px 100px;
    border: blueviolet solid;
    border-top: none;
}

.score_board .name,
.label_name {
    border-right: blueviolet solid;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;
}