.stage,
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    margin-bottom: 30px;
}

.pic {
    width: 90vw;
}

.drop_down {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: tomato solid;
}

.drop_down button {
    cursor: pointer;
}