.stages {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.stageDiv {
    border: thistle solid;
}

.stageDiv a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stageDiv img {
    width: 30vw;
    display: block;
}

.stageName {
    text-align: center;
    padding: 5px;
}