.stage,
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frame {
    margin-bottom: 30px;
}

.pic {
    max-width: 90vw;
    max-height: 90vh;
    /* width: auto;
    height: 90vh; */
}

.drop_down {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 126, 106);
    border: tomato solid;
}

.drop_down button {
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status img {
    width: auto;
    height: 200px;
}