html,
body,
#root,
.container {
    min-height: 100vh;
}

body {
    margin: 0px;
}

a {
    list-style: none;
    text-decoration: none;
}

.container {
    background-color: rgb(107, 104, 104);
    color: honeydew;
    display: flex;
    flex-direction: column;
}

.home,
.stages,
.stage {
    flex: 1;
}